<!-- FOOTER -->
<footer class="site-footer">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-start gap-4">
    <div>
          <div class="brand"  style="font-size:1.6rem; font-weight:500;">Apunt<span class="dot" style="color: green;">i</span></div>
      <p class="footer-mini">Encontrá apuntes, resúmenes y parciales organizados por carrera, materia y cátedra.
      Para ver, también tenés que aportar. Acá la idea es compartir, no acumular.</p>
    </div>

    <div class="d-flex gap-4 align-items-start">
      <div class="d-flex flex-column align-items-end">
        <ul class="list-unstyled mb-2 d-flex flex-row gap-4 footer-links-inline">
          <li><a href="#" class="text-decoration-none" style="font-weight: 500;">Inicio</a></li>
          <li><a href="../buscar.html" class="text-decoration-none" style="font-weight: 500;">Buscar apuntes</a></li>
          <li><a href="../stepper.html" class="text-decoration-none" style="font-weight: 500;">Subir aporte</a></li>
          <li><a href="#" class="text-decoration-none" style="font-weight: 500;">Mi perfil</a></li>
        </ul>
        <div class="d-flex gap-3 small social-footer">
          <a href="mailto:contacto@apunti.com" target="_blank" rel="noopener" title="Email">
            <img src="https://img.icons8.com/ios-glyphs/28/2da56a/new-post.png" alt="Email" style="vertical-align:middle;">
          </a>
          <a href="https://facebook.com" target="_blank" rel="noopener" title="Facebook">
            <img src="https://img.icons8.com/ios-glyphs/28/2da56a/facebook-new.png" alt="Facebook" style="vertical-align:middle;">
          </a>
          <a href="https://instagram.com" target="_blank" rel="noopener" title="Instagram">
            <img src="https://img.icons8.com/ios-glyphs/28/2da56a/instagram-new.png" alt="Instagram" style="vertical-align:middle;">
          </a>
          <a href="https://twitter.com" target="_blank" rel="noopener" title="Twitter/X">
            <img src="https://img.icons8.com/ios-glyphs/28/2da56a/twitter.png" alt="Twitter/X" style="vertical-align:middle;">
          </a>
          <a href="https://tiktok.com" target="_blank" rel="noopener" title="TikTok">
            <img src="https://img.icons8.com/ios-glyphs/28/2da56a/tiktok.png" alt="TikTok" style="vertical-align:middle;">
          </a>
          <a href="https://youtube.com" target="_blank" rel="noopener" title="YouTube">
            <img src="https://img.icons8.com/ios-glyphs/28/2da56a/youtube-play.png" alt="YouTube" style="vertical-align:middle;">
          </a>
          <a href="https://linkedin.com" target="_blank" rel="noopener" title="LinkedIn">
            <img src="https://img.icons8.com/ios-glyphs/28/2da56a/linkedin.png" alt="LinkedIn" style="vertical-align:middle;">
          </a>
          <a href="https://spotify.com" target="_blank" rel="noopener" title="Spotify">
            <img src="https://img.icons8.com/ios-glyphs/28/2da56a/spotify.png" alt="Spotify" style="vertical-align:middle;">
          </a>
          <a href="#" title="Sitio web">
            <img src="https://img.icons8.com/ios-glyphs/28/2da56a/internet.png" alt="Web" style="vertical-align:middle;">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>